.MapaAvanzado{
    animation: EntradaCard 0.5s ease-in-out;
}

@keyframes EntradaCard {
  from {
    opacity: 0;
    transform: translateY(-0.35rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}