.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  overflow: hidden;
  background-color: var(--color-gray-200);
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatarSmall {
  width: 32px;
  height: 32px;
}

.avatarMedium {
  width: 40px;
  height: 40px;
}

.avatarLarge {
  width: 48px;
  height: 48px;
}

.avatarXLarge {
  width: 64px;
  height: 64px;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarFallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-text-secondary);
}