.inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #1f2937;
  font-weight: 600;
  border-bottom: 2px solid #e5e7eb;
  padding-right: 23px;
  transition: 0.5s;
}

.inputBox input:focus,
.inputBox input:valid {
  border-bottom: 2px solid #10b981;
}

.inputBox label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #6b7280;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -5px;
  color: #10b981;
}

.inputBox .icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  color: #6b7280;
  transition: 0.5s;
}

.inputBox input:focus ~ .icon,
.inputBox input:valid ~ .icon {
  color: #10b981;
}

