.switch {
    position: relative;
    display: inline-block;
    width: 2.75rem;
    height: 1.5rem;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input:checked+.slider {
    background-color: var(--primary);
}

.input:focus+.slider {
    box-shadow: 0 0 1px var(--primary);
}

.input:checked+.slider:before {
    transform: translateX(1.25rem);
}