@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');


.cardsBlock {
  background-color: #f5f7fa; /* Bloque grande del mismo color */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: EntradaCard 0.5s ease-in-out;
}

@keyframes EntradaCard {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.cardItem {
  display: flex;
  background-color: transparent; 
  padding: 1rem;
  border-radius: 12px;
  align-items: center;
  gap: 1rem;
}

.cardImage {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.cardDescription {
  margin: 4px 0 0 0;
  font-size: 0.9rem;
  color: #6690ce;
  font-family: 'Be Vietnam Pro', sans-serif;
}
