.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Fondo gris claro que se ve fuera de la tarjeta */
  background-color: #dcdcdc; 
  padding: 20px;
}