.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #25252b;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid #10b981;
  box-shadow: 0 0 25px #10b981;
  overflow: hidden;
}

.curvedShape {
  position: absolute;
  right: 0;
  top: -5px;
  height: 600px;
  width: 850px;
  background: linear-gradient(45deg, #25252b, #10b981);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}

.container.active .curvedShape {
  transform: rotate(0deg) skewY(0deg);
  transition-delay: 0.5s;
}

.curvedShape2 {
  position: absolute;
  left: 250px;
  top: 100%;
  height: 700px;
  width: 850px;
  background: #25252b;
  border-top: 3px solid #10b981;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: 0.5s;
}

.container.active .curvedShape2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}

.formBox {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formBox.login {
  left: 0;
  padding: 0 40px;
}

.formBox.login .animation {
  transform: translateX(0%);
  transition: 0.7s;
  opacity: 1;
  transition-delay: calc(0.1s * var(--S));
}

.container.active .formBox.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  transition-delay: calc(0.1s * var(--D));
}

.formBox.register {
  right: 0;
  padding: 0 60px;
}

.formBox.register .animation {
  transform: translateX(120%);
  transition: 0.7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--S));
}

.container.active .formBox.register .animation {
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0px);
  transition-delay: calc(0.1s * var(--li));
}

.formBox h2 {
  font-size: 32px;
  text-align: center;
}

.buttonBox {
  margin-top: 25px;
}

.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #10b981;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient(#25252b, #10b981, #25252b, #10b981);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover::before {
  top: 0;
}

.regiLink {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}

.regiLink a {
  text-decoration: none;
  color: #10b981;
  font-weight: 600;
}

.regiLink a:hover {
  text-decoration: underline;
}

.infoContent {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.infoContent.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.infoContent.login .animation {
  transform: translateX(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--S));
  opacity: 1;
  filter: blur(0px);
}

.container.active .infoContent.login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--D));
}

.infoContent.register {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 38px;
  pointer-events: none;
}

.infoContent.register .animation {
  transform: translateX(-120%);
  transition: 0.7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--S));
}

.container.active .infoContent.register .animation {
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--li));
}

.infoContent h2 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.3;
}

.infoContent p {
  font-size: 16px;
}

