.container {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radioMark {
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--bg-card);
    border: 1px solid var(--border-light);
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease;
}

.radioMark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: var(--primary);
    transition: all 0.2s ease;
}

.container:hover .input~.radioMark {
    border-color: var(--primary);
}

.input:checked~.radioMark {
    border-color: var(--primary);
}

.input:checked~.radioMark::after {
    transform: translate(-50%, -50%) scale(1);
}

.label {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    color: var(--text-main);
}